.myCard {
    margin: 5% 10% 5% 10%;
  }

  #btn {
    background-color: pink;
    border-radius: 3px;
    color: black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    vertical-align: middle;
  }
  
  #btn:hover {
    background-color: black;
    color: pink;
  }

  #spinner {
      color: black;
  }
  


