.form {
    width: 33%;
    height: fit-content;
    margin: 0 auto;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.myCard {
    margin: 5% 10% 5% 10%;
  }

form * {
    margin-top: 20px;
    width: 100%;
}

.btn {
    border: 2px solid black;
    background-color: pink;
    border-radius: 3px;
    color: black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    cursor: pointer;
  }

  .btn:hover {
      background-color: black;
      color: pink;
  }