

#myCard {
  margin: 5% auto;
  width: fit-content;
}

#btn {
  background-color: pink;
  border-radius: 3px;
  color: black;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  cursor: pointer;
}

#btn:hover {
  background-color: black;
  color: pink;
}
